<!DOCTYPE html>
 <html>
 <head>
 <title><div >首页</div></title>

 <style>

  body{
   background-image: url('/static/1.jpg');
   background-size: cover;
   text-align: center;
  }

  a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  a:hover, a:active {
  background-color: blue;
  }

 </style> 
 </head>
 <body>

 <br><br><h1><font  size="50" color=#3399CC>学生管理系统</font></h1>
 <br><br><a href="/add_student" style="background-color: #FF6600;height:30px;width:100px;">添加学生</a><br><br>
 <br><br><a href="/delete_student" style="background-color: #FF6600;height:30px;width:100px;">删除学生 </a><br><br>
 <br><br><a href ="/student_info" style="background-color: #FF6600;height:30px;width:100px;">查看学生信息</a><br><br>

 </body>
 </html>
